<div class="tw-w-1/2 tw-ml-20 tw-my-auto tw-h-max tw-mt-48">
<h1 class="tw-text-3xl tw-font-bold tw-mb-6 tw-text-gray-800">Dashboard Page</h1>

<ul class="tw-space-x-4 tw-mb-6 tw-flex tw-mt-16">
  <li>
    <a class="tw-text-lg tw-font-semibold tw-px-4 tw-py-2 tw-rounded tw-bg-gray-600 tw-text-white tw-transition tw-duration-300 hover:tw-bg-blue-700" routerLink="user">User</a>
  </li>
  <li>
    <a class="tw-text-lg tw-font-semibold tw-px-4 tw-py-2 tw-rounded tw-bg-gray-600 tw-text-white tw-transition tw-duration-300 hover:tw-bg-blue-700" routerLink="rights">Rights</a>
  </li>
</ul>
</div>
<router-outlet></router-outlet>
